@font-face {
    font-family: 'DanaPro';
    src: url('/fonts/persian/danaFaNum-Thin.woff2') format('woff2'),
        url('/fonts/persian/danaFaNum-Thin.woff') format('woff');
    font-weight: 100;
    font-style: normal;
    font-display: block;
}

@font-face {
    font-family: 'DanaPro';
    src: url('/fonts/persian/danaFaNum-Regular.woff2') format('woff2'),
        url('/fonts/persian/danaFaNum-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
    font-display: block;
}

@font-face {
    font-family: 'DanaPro';
    src: url('/fonts/persian/danaFaNum-Bold.woff2') format('woff2'),
        url('/fonts/persian/danaFaNum-Bold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
    font-display: block;
}

@font-face {
    font-family: 'DanaPro';
    src: url('/fonts/persian/danaFaNum-ExtraBold.woff2') format('woff2'),
        url('/fonts/persian/danaFaNum-ExtraBold.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: block;
}
