body {
    font-family: 'Noto Kufi Arabic', sans-serif;
}

.localized-number {
    -moz-font-feature-settings: 'ss01';
    -webkit-font-feature-settings: 'ss01';
    font-feature-settings: 'ss01';
}

.localized-monospace-number {
    -moz-font-feature-settings: 'ss03';
    -webkit-font-feature-settings: 'ss03';
    font-feature-settings: 'ss03';
}
