@font-face {
    font-family: byekan;
    src: url('/fonts/persian/BYekan.woff2') format('woff2'),
        url('/fonts/persian/BYekan.woff') format('woff');
    font-style: normal;
    font-display: block;
}
