@font-face {
    font-family: iranSansX;
    font-style: normal;
    font-weight: 100;
    src: url('faNumThin.woff') format('woff'),
        url('faNumThin.woff2') format('woff2');
    font-display: block;
}

@font-face {
    font-family: iranSansX;
    font-style: normal;
    font-weight: 200;
    src: url('faNumUltraLight.woff') format('woff'),
        url('faNumUltraLight.woff2') format('woff2');
    font-display: block;
}

@font-face {
    font-family: iranSansX;
    font-style: normal;
    font-weight: 300;
    src: url('faNumLight.woff') format('woff'),
        url('faNumLight.woff2') format('woff2');
    font-display: block;
}

@font-face {
    font-family: iranSansX;
    font-style: normal;
    font-weight: 500;
    src: url('faNumMedium.woff') format('woff'),
        url('faNumMedium.woff2') format('woff2');
    font-display: block;
}

@font-face {
    font-family: iranSansX;
    font-style: normal;
    font-weight: 600;
    src: url('faNumMedium.woff') format('woff'),
        url('faNumMedium.woff2') format('woff2');
    font-display: block;
}

@font-face {
    font-family: iranSansX;
    font-style: normal;
    font-weight: 800;
    src: url('faNumMedium.woff') format('woff'),
        url('faNumMedium.woff2') format('woff2');
    font-display: block;
}

@font-face {
    font-family: iranSansX;
    font-style: normal;
    font-weight: 900;
    src: url('faNumBlack.woff') format('woff'),
        url('faNumBlack.woff2') format('woff2');
    font-display: block;
}

@font-face {
    font-family: iranSansX;
    font-style: normal;
    font-weight: bold;
    src: url('faNumBold.woff') format('woff'),
        url('faNumBold.woff2') format('woff2');
    font-display: block;
}

@font-face {
    font-family: iranSansX;
    font-style: normal;
    font-weight: normal;
    src: url('faNumRegular.woff') format('woff'),
        url('faNumRegular.woff2') format('woff2');
    font-display: block;
}

.localized-number {
    -moz-font-feature-settings: 'ss02';
    -webkit-font-feature-settings: 'ss02';
    font-feature-settings: 'ss02';
}

.localized-monospace-number {
    -moz-font-feature-settings: 'ss03';
    -webkit-font-feature-settings: 'ss03';
    font-feature-settings: 'ss03';
}
