@font-face {
    font-family: Kamand;
    font-style: normal;
    font-weight: 100;
    src: url('/fonts/persian/Kamand-Light.woff') format('woff'),
        url('/fonts/persian/Kamand-Light.woff2') format('woff2');
    font-display: block;
}

@font-face {
    font-family: Kamand;
    font-style: normal;
    font-weight: 500;
    src: url('/fonts/persian/Kamand-Medium.woff') format('woff'),
        url('/fonts/persian/Kamand-Medium.woff2') format('woff2');
    font-display: block;
}

@font-face {
    font-family: Kamand;
    font-style: normal;
    font-weight: 800;
    src: url('/fonts/persian/Kamand-ExtraBold.woff') format('woff'),
        url('/fonts/persian/Kamand-ExtraBold.woff2') format('woff2');
    font-display: block;
}

@font-face {
    font-family: Kamand;
    font-style: normal;
    font-weight: 900;
    src: url('/fonts/persian/Kamand-Black.woff') format('woff'),
        url('/fonts/persian/Kamand-Black.woff2') format('woff2');
    font-display: block;
}

@font-face {
    font-family: Kamand;
    font-style: normal;
    font-weight: bold;
    src: url('/fonts/persian/Kamand-Bold.woff') format('woff'),
        url('/fonts/persian/Kamand-Bold.woff2') format('woff2');
    font-display: block;
}

@font-face {
    font-family: Kamand;
    font-style: normal;
    font-weight: normal;
    src: url('/fonts/persian/Kamand-Regular.woff') format('woff'),
        url('/fonts/persian/Kamand-Regular.woff2') format('woff2');
    font-display: block;
}
