@font-face {
    font-family: Dana;
    src: url('faNumThin.woff2') format('woff2'),
        url('faNumThin.woff') format('woff');
    font-weight: 100;
    font-style: normal;
    font-display: block;
}

@font-face {
    font-family: Dana;
    src: url('faNumRegular.woff2') format('woff2'),
        url('faNumRegular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
    font-display: block;
}

@font-face {
    font-family: Dana;
    src: url('faNumBold.woff2') format('woff2'),
        url('faNumBold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
    font-display: block;
}

@font-face {
    font-family: Dana;
    src: url('faNumBlack.woff2') format('woff2'),
        url('faNumBlack.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: block;
}
